@import font/stylesheet.css
    
$main: #e7004b
$grey: #768890
$green: #94c73d
$blue: #02A6E1
$dark: #343a40
$yellow: #FFC600

html
  scroll-behavior: smooth
.text-main
    color: $main
.text-grey
    color: $grey
.text-green
    color: $green
.text-blue
    color: $blue

.text-normal
    font-family: 'nutmeg', sans-serif;
    font-weight: normal
.text-bold
    font-family: 'nutmeg', sans-serif;
    font-weight: 700
.text-bolder
    font-family: 'nutmeg', sans-serif;
    font-weight: 900

.bg-main
    background: $main
.bg-green
    background: $green
.bg-blue
    background: $blue
.bg-main
    background: $main
.bg-yellow
    background: $yellow

.btn-primary
    background: $main
    border: none
    &:hover
        background: $grey
    &:active
        background: $blue


body
    font-family: 'nutmeg', sans-serif;
    font-weight: normal
    color: $dark




#mainnavbar
    box-shadow: 0 10px 20px rgba(0,0,0,0.1)
    z-index: 99
    .nav-link
        font-weight: normal
    .nav-link.active
        color: $main
    
    @media(max-width:992px)
        .navbar-collapse
            text-align: center

    .navbar-toggler
        border: none
        color: $main

    .iniciar-sesion
        border-bottom: 4px solid $main


.navbar-brand
    width: 100%
    max-width: 280px


section
    padding-top: 68px


hr
    max-width: 280px
    margin: 20px auto
    border-top: 10px solid $grey
    opacity: 1


.levels
    img.img-fluid
        max-width: 200px

.plecablue
    background: #83B5E1
    img.bluecircle
        max-width: 40px





footer
    background: $dark
    padding-top: 20px
    padding-bottom: 20px
    img.img-fluid
        max-width: 120px
    &.mini
        padding-top: 0
        padding-bottom: 0
        img.img-fluid
            max-width: 80px
            max-height: 50px


.carousel-indicators
    position: static
    [data-bs-target]
        background: #FFC600


// -------

#odas
    position: relative
    z-index: 4
    width: 99%
    padding: 20px 6px
    background: rgba(230,230,230,0.7)
    border-radius: 10px
    margin: 80px auto
    .row
        margin: 0
        border-radius: 6px
    .groupDrag
        background: #fff
        display: flex
        flex-direction: column
        padding: 20px 0px
        margin: 0px
        border-radius: 6px
        border: 4px dashed $grey
    .badge
        font-size: 1rem
        box-shadow: 6px 6px 0 rgba(0,0,0,0.1)
        cursor: pointer
        margin: 6px
        white-space: normal
    @media (max-width:600px)
        h4
            font-size: 1rem
        .badge
            font-size: 0.8rem



