.container-fluid#contacto.py-5
    .row
        h2.text-center(data-en=en('areaContacto'))=es('areaContacto')
    .row.text-center
        div(data-en=en('areaContactoPaises'))=es('areaContactoPaises')
        a(href="mailto:info@pinktiger.group").my-4 info@pinktiger.group
        .socials.my-4
            a(href="https://www.instagram.com/pinktigergroup/" target="_blank").btn.btn-primary
                i.bi.bi-instagram