nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top#mainnavbar
    .container-fluid
        a(href="#").navbar-brand
            img(src="app/i/ProyectosIntegradoresRecrea.svg" title="Plataformas Integradoras").img-fluid.brand
        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu")
            i.bi.bi-list
        .collapse.navbar-collapse.justify-content-end#navbarMenu
            ul.navbar-nav
                li.nav-item: a.nav-link(href="#que-es") ¿Qué es?
                li.nav-item: a.nav-link(href="#estudiantes") Estudiantes
                li.nav-item: a.nav-link(href="#docentes") Docentes
                li.nav-item: a.nav-link(href="#contacto") Contacto
                li.nav-item.iniciar-sesion: a.nav-link(href="#iniciar-sesion") Iniciar sesión
                